@font-face {
  font-family: Champagne-Limousin;
  src: url(../fonts/Champagne-Limousin.ttf);
  font-family: Quicksand-Book;
  src: url(../fonts/Quicksand_Book.otf);
}

*:hover, *:focus, *:active, *:active:focus
{
  outline: 0 !important;
  user-select: none;
}

*:focus
{
  box-shadow: none !important;
}

a, a:hover 
{
  cursor: pointer;
}

.no-margin
{
  margin: 0 !important;
}

.no-margin-left
{
  margin-left: 0 !important;
}

.no-margin-right
{
  margin-right: 0 !important;
}

.no-padding
{
  padding: 0 !important;
}

.no-padding-left
{
  padding-left: 0 !important;
}

.no-padding-right
{
  padding-right: 0 !important;
}

.align-items-center
{
  align-items: center;
}

h1, h2, h3, h4, h5
{
  font-weight: 400;
  margin: 0;
}

body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Quicksand-Book, sans-serif;
  color: rgb(78, 76, 76);
  background-color: #F5F7F8;
  overflow: auto;
}

/* ===================
  |                   |
  |    Home content   |
  |                   |
  |===================|
*/

.home-subcontainer
{
  padding: 65px;
  height: calc(100vh - 201px);
}

.home-subcontainer h3
{
  font-size: 22px;
  font-family: Champagne-Limousin;
}

.home-subcontainer img
{
  height: 300px;
  width: 500px;
}

/* ===================
  |                   |
  |      Center       |
  |                   |
  |===================|
*/

.home-subcontainer.error
{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ===================
  |                   |
  |      Button       |
  |                   |
  |===================|
*/

.btn-default
{
  color: #f1f1f1;
  background-color: #34302D;
  border-color: #6db33f;
  padding: 9px 11px 9px 11px;
  font-family: Quicksand-Book, sans-serif;
  margin-left: 132px;
  transition: 0.2s;
}

.btn-default:hover, .btn-default:focus, .btn-default:active
{
  cursor: pointer;
  border-color: #34302D;
}

/* ===================
  |                   |
  |      Table        |
  |                   |
  |===================|
*/


table
{
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    margin-top: 10px;
}

thead
{
    background-color: #34302D;
    color: rgb(240, 233, 233);
    text-align: left;
}

thead th
{
    padding: 10px 0px 10px 10px;
}

tbody tr
{
    border-top: 1px solid #34302D;
}

tbody td
{
    padding: 10px;
}

table > tbody > tr:nth-of-type(odd)
{
    background-color: #eeeaea;
}

tr td:first-child, tr:not(.vets):first-child td:last-child
{
  font-weight: bolder;
}

.vets span#name:hover, .vets span#name:focus
{
  text-decoration: underline;
}





