table dt
{
    display: inline-block;
    width: 100px;
    font-weight: bolder;
    text-align: right;
    margin-left: 90px;
}

table dd
{
    display: inline-block;
    font-weight: normal;
}

.pet-form:first-child input
{
    border: none;
    background-color: rgb(191,191,191,1);
    user-select: none;
}

.pet-form:first-child input:focus, .pet-form:first-child input:active
{
    user-select: none;
    border: none !important;
    box-shadow: none !important;
}

tbody .pet-button
{
    margin-top: 20px;
}

tbody .pet-button p
{
    color: #6DB33F;
    margin-right: 15px;
    cursor: pointer;
    display: inline;
    font-weight: bolder;
}

tbody .pet-button p:hover, tbody .pet-button p:focus, tbody .pet-button p:active
{
    text-decoration: underline;
}